body{
    font: 16/28px verdana, arial, sans-serif;
    background-color: #eaeaeade;
    color: #333;
}

.container  {
    width: 800px;
    margin: auto;
    background-color: #fa7d09;
}

.header {
    padding: 20px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
    font-family: verdana;
    text-align: center;
}

.header ul li {
    display: inline-block;
    margin-right: 100px;
    margin-left: 20px;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header a{
    text-decoration: none;
    color: #4a3f35;
}

.hero {
    height: 280px;
    background-image: url(img/ped.jpg);
    background-size: cover;
    background-position: 0 -130px;
    
}

.content {
    padding: 20px;
}

.content h2 {
    font-size: 28px;
    font-weight: bold;
    font-family: verdana;
    color: #2f2519;
}

.content .penulis {
    margin-top: -20;
}

.content p {
    font-size: 16px;
    color: #2f2519;
}

.content a {
    text-decoration: none;
}

.footer {
    background-color: #333;
    padding: 5px;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}