@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --soklat: #d1c9c3;
    --bg-main: #151515;
    --bg-color: #e5e3df;
    --grey: #7d7c7a;
    --black: #101010;
    --white: #ffffff;
    --font-1: "Instrument Sans";
    --font-2: "PT Serif"
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-1), var(--font-2);
    background-color: #4b4948;
}
/* Navbar */
.navbar {
    width: 100%;
    max-width: 1440px;
    height: 96px;
    display: flex;
    margin: auto;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-main);
}

.container {
    display: flex;
    align-items: center;
}

.logo {
    height: 30px;
    margin-left: 100px;
}

.name {
    color: var(--white);
    font-family: var(--font-2);
    font-size: 18px;
    font-weight:700;
    margin-left: 10px;
}

.navbar-link {
    display: flex;
    list-style-type: none;
}

.navbar-link li {
    margin: 0 15px;
}

.navbar-link a {
    color: var(--white);
    text-decoration: none;
    font-family: var(--font-1);
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 20px;
    align-items: center;
}

.navbar-link a.active {
    background-color: #fff;
    color: black;
}

.navbar-button {
    display: flex;
    align-items: center;
}

.button-enrollnow {
    background-color: var(--soklat);
    color: black;
    padding: 8px 20px;
    margin-right: 70px;
    text-decoration: none;
    border-radius: 20px;
    font-family: var(--font-1);
    font-size: 16px;
    font-weight: 500;
}

.button-enrollnow :hover{
    background-color: #b2a7a1;
}
/* Header */
.header {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: auto;
    display: flex;
    margin: auto;
    justify-content: space-between;
    background-color: #E5E3DF;
    overflow: hidden;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('img/bg-vector.png');
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: 1;
}

.content {
    width: 100%;
    /* max-width: 458px; */
    height: 474px;
    margin-left: 116px;
    margin-top: 99px;
}

.content h1 {
    font-size: 64px;
    line-height: 76px;
    color: #101010;
    margin-bottom: 20px;
    font-family: var(--font-2);
    font-weight: 400;
}

.content p {
    font-size: 18px;
    color: #101010;
    margin-bottom: 30px;
    font-family: var(--font-1);
    font-weight: 400;
}

.button {
    width: 100%;
    /* max-width: 325px; */
    height: 64px;
    padding: 16px 0 0 0;
    align-content: center;
    gap: 16px;
}

.btn-enroll {
    width: 157px;
    height: 48px;
    border-radius: 100px;
    padding: 12px 24px;
    text-decoration: none;
    border: 1px solid black;
    background-color: #101010;
    color: #ffffff;
    font-family: var(--font-1);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    gap: 8px;
}

.btn-learn {
    width: 152px;
    height: 48px;
    border-radius: 100px;
    padding: 12px 24px;
    text-decoration: none;
    border: 1px solid black;
    text-decoration: none;
    gap: 8px;
    font-family: var(--font-1);
    color: #101010;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.img-header {
    width: 100%;
    max-width: 540px;
    height: 701px;
    margin-top: 99px;
    margin-right: 110px;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    z-index: 2;
}
.img-header img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Layout1 */
.layout-1 {
    display: flex;
    justify-content: flex-start; 
    width: 100%;
    max-width: 1440px;
    height: auto;
    background-color: #f9f9f9;
    margin: auto;
    box-sizing: border-box;
}

.img-layout1 {
    width: 100%;
    max-width: 445.83px;
    height: 555px;
    margin: 77px 0px 100px 77px;
    border-radius: 24px 0px 0px 24px;
    overflow: hidden;
}

.img-layout1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px 0px 0px 24px;
    display: block;
}

.text-layout1 {
    width: 100%;
    max-width: 800px;
    height: 555px;
    margin: 77px 0 77px;
    box-sizing: border-box;
    padding: 30px;
    border: 1px solid #101010;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.cont-text1 {
    width: 100%;
    height: auto; 
    margin: 0px; 
}

.cont-text1 p.about-me {
    display: flex;
    width: 65px;
    height: 29px;
    border: 1px solid #101010;
    border-radius: 100px;
    padding: 4px 8px;
    margin: 0;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #101010;
}

.cont-text1 h3 {
    display: inline-block;
    font-size: 45px;
    font-weight: 400;
    font-family: var(--font-2);
    line-height: 57px;
    color: #101010;
    margin-top: 20px;
    word-wrap: break-word;
    max-width: 100%;
}

.cont-text1 p {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font-1);
    line-height: 27px;
    margin-top: 0;
    word-wrap: break-word;
    max-width: 100%;
}

.btn-learn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 15%;
    border-radius: 100px;
    border: 1px solid #101010;
    text-decoration: none;
    margin-left: auto;
    font-family: var(--font-1);
    font-size: 14px;
    font-weight: 400;
    color: #101010;
}


 /* layout2 */
 .layout-2 {
    width: 100%;
    max-width: 1440px;
    height: 864px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color);
    overflow: hidden;
    position: relative;
    z-index: 0;
 }

 .layout-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('img/bg-vector.png');
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: 1;
 }

.cont-text2 {
    width: 748px;
    height: 400px;
    margin-top: 216.5px;
    margin-left: 110px;
    padding: 52px 0px 0px 0px;
    gap: 24px;
    border: 1px solid #101010;
    background-color: #ffffff;
    align-items: center;
    z-index: 3;
    position: relative;
}
.content2 {
    width: 644px;
    height: 260px;
    gap: 16px;
    margin: 20px 52px;
    position: absolute;
}
.content2 p.why-coaching {
    display: flex;
    width: 101px;
    height: 21px;
    border: 1px solid #101010;
    border-radius: 100px;
    padding: 4px 8px 4px 8px;
    gap: 10px;
    align-items: center;
    font-family: var(--font-1);
    font-size: 14px;
    font-weight: 400;
    color: #101010;
    line-height: 21px;
}

.content2 h3{
    display: inline-block;
    font-family: "PT Serif";
    font-size: 48px;
    font-weight: 400;
    line-height: 57px;
    margin-top: auto;
}

.content2 p {
    display: inline-block;
    font-family: "Instrument Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-top: -26px;
}
.btn-learn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 15%;
    border-radius: 100px;
    border: 1px solid #101010;
    text-decoration: none;
    font-family: var(--font-1);
    font-size: 14px;
    font-weight: 400;
    color: #101010;
    margin-top: 260px;
    margin-left: 556px;
}
.img-layout2 {
    display: flex;
    width: 556px;
    height: 640px;
    margin-top: 120px;
    border-radius: 24px;
    z-index: 2;
    position: relative;
    
}
.img-layout2 img {
    width: 556px;
    height: 640px;
    display: flex;
    object-fit: cover;
    border-radius: 24px;
    overflow: auto;
    margin-left: -60px;
}

/* layout3 */
.layout-3 {
    width: 100%;
    max-width: 1440px;
    height: 864px;
    background-color: #ffffff;
    margin: auto;
    display: flex;
}
.img-layout3 {
    width: 100%;
    max-width: 570px;
    height: 640px;
    margin-top: 112px;
    margin-left: 110px;
    gap: 0px;
    border-radius: 24px 0px 0px 0px;
    opacity: 0px;
}
.img-layout3 img {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
    border-radius: 24px;
    opacity: 0px;   
    overflow: auto;
}
.services-section {
    width: 100%;
    max-width: 570px;
    height: auto;
    margin-top: 112px;
    margin-left: 70px;
    border-radius: 24px;
}
.services-section h2{
    display: flex;
    width: 567px;
    height: 106px;
    gap: 10px;
    border-radius: 12px 12px 0px 0px;
    border: 1px solid #7d7c7a;
    margin: auto;
    font-family: var(--font-2);
    font-size: 48px;
    font-weight: 700;
}

.services-section ul {
    height: 444px;
    list-style: none;
    padding: 42px;
    margin: auto;
    gap: 32px;
    border-left: 1px solid #7d7c7a;
    border-right: 1px solid #7d7c7a;
    border-bottom: 1px solid #7d7c7a;
}

.services-section li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.services-section .icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.services-section h3 {
    margin: 0 0 5px 0;
    color: var(--black);
    font-size: 24px;
    font-family: var(--font-2);
    font-weight: 400;
}

.services-section p {
    margin: 0;
    color: var(--black);
    font-size: 16px;
    font-family: var(--font-1);
}

/* Testimonial */
.testimonial {
    width: 100%;
    max-width: 1440px;
    height: 936px;
    gap: 24px;
    background-color: #e5e3df;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-content {
    width: 1217px;
    height: 640px;
    margin-left: 112px;
    justify-content: space-between;
    display: flex;
}

.cont-text-test {
    width: 485px;
    height: 321px;
    gap: 32px;
    align-content: center;
    margin-top: 190px;
}

.stars {

    color: #ffd700;
    font-size: 40px;
}

.cont-text-test h3 {
    font-family: var(--font-1);
    font-size: 36px;
    font-weight: 500;
    line-height: 50px;
    color: var(--black);
}

.author {
    width: 485px;
    height: 89px;
    background-color: #fffcf5;
    gap: 20px;
    border: 1px solid #101010;
    padding: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.info strong {
    font-family: var(--font-2);
    font-size: 16px;
    font-weight: 700;
    color: var(--black);
    margin-left: 8px;
    margin-bottom: -10px;
}

.info p {
    font-family: var(--font-1);
    font-size: 12px;
    font-weight: 600;
    color: var(--black);
    margin-left: 10px;
    margin: 8px;
}

.author .logo {
    display: flex;
    align-items: center;
    border-left: 1px solid #101010;
    padding-left: 15px;
    height: 100%;
}

.author .logo img {
    height: 48px;
}

.testimonial-image {
    width: 100%;
    max-width: 592px;
    height: 640px;
    border-radius: 24px 0px 0px 0px;
    margin-top: 100px;
    margin-right: 25px;
}

.testimonial-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Pricing */
.pricing {
    width: 1440px;
    height: 841px;
    background-color: var(--white);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pricing-text {
    width: 785px;
    height: 154px;
    margin-top: 76px;
    margin-left: 110px;
    gap: 16px;
}

.pricing-text p.pricing-label {
    width: 50px;
    font-size: 16px;
    color: var(--black);
    border: 1px solid #101010;
    border-radius: 50px;
    padding: 2px 8px;
}

.pricing-text h2 {
    font-family: var(--font-2);
    font-size: 48px;
    font-weight: 700;
    margin-top: -10px;
}

.pricing-text p {
    font-family: var(--font-1);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-top: -5px;
}

.pricing-plans {
    width: 1220px;
    height: 467px;
    margin-top: 77px;
    margin-left: 110px;
    display: flex;
    justify-content: space-between;
}

.premium {
    width: 594px;
    height: 427px;
    margin-top: -20px;
    background-color: #E4E2DE;
    border: 1px solid #101010;
    border-radius: 24px;
    padding: 32px;
    gap: 12px;
}

.premium-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.premium-header h3 {
    font-family: var(--font-2);
    font-size: 36px;
    font-weight: 700;
    color: var(--black);
    line-height: 50px;
    align-items: center;
}

.price {
    font-family: var(--font-1);
    font-size: 56px;
    font-weight: 500;
    line-height: 67px;
    align-items: center;
}

hr {
    border-top: 1px solid #8d8c8a;
    margin-top: -10px;
}

.premium-content p {
    font-family: var(--font-1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
}

.premium-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.premium-content ul li {
    font-family: var(--font-1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.premium-content ul li::before {
    content: "✔";
    color: var(--black);
    margin-right: 15px;
}

.enrl-btn {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 10px;
    border: none;
    border-radius: 100px;
    font-family: var(--font-1);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
}

.vip {
    width: 594px;
    height: 467px;
    background-color: #E4E2DE;
    border: 1px solid #101010;
    border-radius: 24px;
    padding: 32px;
    gap: 12px;
    margin-left: 20px;
    margin-top: -40px;
}

.vip-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.vip-header h3 {
    font-family: var(--font-2);
    font-size: 36px;
    font-weight: 700;
    color: var(--black);
    line-height: 50px;
    align-items: center;
}

.vip-content p {
    font-family: var(--font-1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
}

.vip-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.vip-content ul li {
    font-family: var(--font-1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.vip-content ul li::before {
    content: "✔";
    color: var(--black);
    margin-right: 15px;
}

/* FAQ */
.faq {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 926px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #E5E3DF;
    overflow: hidden;
}
.faq::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('img/bg-vector.png');
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: 1;
}

.faq-title {
    width: 768px;
    height: 136px;
    margin-top: 112px;
    margin-left: 110px;
    gap: 24px;
}
 .faq-title h3 {
    font-family: var(--font-2);
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
    margin: 0;
 }

 .faq-title p {
    font-family: var(--font-1);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
 }

.faq-item {
    width: 1220px;
    height: 408px;
    margin-top: 65px;
    margin-left: 110px;
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.item {
    width: 364px;
    height: 160px;
    gap: 16px;
}

.item h4 {
    font-family: var(--font-2);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 5px;
}

.item p {
    font-family: var(--font-1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: -16px;
}

/* CTA */
.cta {
    width: 100%;
    max-width: 1440px;
    height: 624px;
    margin: auto;
    display: flex;
    background-color: var(--white);
}

.cta-content {
    width: 570px;
    height: 340px;
    margin-top: 100px;
    margin-left: 110px;
}

.cta-content h2 {
    font-family: var(--font-2);
    font-size: 48px;
    font-weight: 700;
    line-height: 56.7px;
    color: var(--black);
}

.cta-content p {
    font-family: var(--font-1);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: var(--black);
}

.cta-btn {
    margin-top: 50px;
}

.cta-enroll {
    width: 128px;
    height: 48px;
    border-radius: 100px;
    padding: 12px 24px 12px 24px;
    gap: 8px;
    background-color: var(--bg-main);
    text-decoration: none;
    font-family: var(--font-1);
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
}

.cta-contact {
    width: 120px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid var(--black);
    padding: 12px 24px 12px 24px;
    gap: 8px;
    text-decoration: none;
    font-family: var(--font-1);
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    margin-left: 10px;
}

.cta-image {
    width: 100%;
    max-width: 493.05px;
    height: 346px;
    margin-top: 112px;
    margin-left: 120px;
    border-radius: 24px;
    background-color: violet;
}

.cta-image img {
    display: flex;
    object-fit: cover;
    border-radius: 24px;
    overflow: auto;
}

/* Footer */
.footer {
    background-color: var(--bg-main);
    max-width: 1440px;
    height: 542px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-container {
    width: 90%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 80%;
}
.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}
.footer-brand {
    flex: 1 1 40%;
    width: 100%;
    max-width: 490px;
}
.footer-logo {
    display: flex;
    align-items: center;
    margin-left: -100px;
}
.footer-logo .logo {
    width: 27px;
    height: 27px;
    margin-right: 10px;
}
.footer-logo h2 {
    color: var(--white);
    font-family: var(--font-2);
    font-weight: 700;
    font-size: 16px;
}
.newsletter {
    font-size: 16px;
    font-family: var(--font-1);
    font-weight: 400;
    color: var(--white);
}

.subscribe-form {
    display: flex;
    margin-top: 10px;
    max-width: 500px;
    max-height: 48px;
}
.subscribe-form input {
    width: 70%;
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 100px;
}
.subscribe-form button {
    width: 20%;
    padding: 10px;
    background-color: var(--soklat) ;
    border: none;
    color: var(--black);
    border-radius: 100px;
    margin-left: 10px;
}
.privacy-note {
    font-size: 12px;
    font-family: var(--font-1);
    font-weight: 400;
    line-height: 18px;
    color: var(--white);
}

.footer-links {
    margin-left: 114px;
    display: flex;
    flex: 1 1 55%;
    justify-content: space-between;
}
.footer-column {
    flex: 1;
    gap: 16px;
}
.footer-column h4 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--white);
    font-family: var(--font-1);
}
.footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  .footer-column ul li:last-child{
    margin-bottom: 0;
  }
  .footer-column ul li a {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-1);
    line-height: 21px;
    text-decoration: none;
    color: var(--white);
  }
  .social-icon {
    margin-right: 5px;
    width: 24px;
    height: 24px;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 1px solid #333;
    padding-top: 10px;
  }
  .footer-bottom p {
    color: var(--white);
    font-size: 14px;
    font-family: var(--font-1);
    font-weight: 400;
  }
  
  .footer-bottom-links {
    list-style: none;
    display: flex;
    gap: 10px;
  }
  
  .footer-bottom-links li a {
    color: var(--white);
    font-family: var(--font-1);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-right:10px ;
    text-decoration: underline;
  } 
.footer-bottom-links li a:last-child {
    margin: 0;
}

@media (max-width: 1024px) {
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .content {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        text-align: center;
        order: 2;
    }

    .img-header {
        width: 90%;
        max-width: 1440px;
        height: 450px;
        margin-right: 0;
        margin-top: 20px;
        order: 1;
    }
    .img-header img {
        object-position: 50% 13%;
    }

    .button {
        justify-content: center;
        margin-top: 20px;
    }

    .btn-enroll, .btn-learn {
        width: 48%;
        margin: 10px;
    }

    /* layout1 */
    .layout-1 {
        flex-direction: column;
        align-items: center;
    }

    .img-layout1 {
        width: 90%;
        height: 400px;
        margin: 40px 0px 0px 0px;
        max-width: 990px;
        border-radius: 10px 10px 0 0;
    }

    .img-layout1 img {
        border-radius: 0;
    }

    .text-layout1 {
        width: 90%;
        max-width: 1024px;
        height: 400px;
        margin: 2px 0 40px 0;
        padding: 15px;
    }

    .cont-text1 h3 {
        font-size: 36px;
        line-height: 48px;
    }

    .cont-text1 p {
        font-size: 16px;
        line-height: 24px;
    }

    .btn-learn1 {
        width: 20%;
        height: 40px;
    }

    /* layout2 */
    .layout-2 {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .cont-text2 {
        width: 86%;
        height: auto;
        margin: 5px 0 40px 0;
        padding: 20px;
        order: 2;
    }

    .content2 {
        width: 100%;
        height: auto;
        position: static;
        margin: 20px 0;
    }

    .content2 h3 {
        font-size: 36px;
        line-height: 46px;
    }

    .content2 p {
        font-size: 16px;
        line-height: 24px;
    }

    .btn-learn2 {
        width: 15%;
        margin: 20px 0 0 0;
        margin-left: auto;
    }

    .img-layout2 {
        width: 90%;
        height: 450px;
        margin: 40px 0 0 60px;
        justify-content: center;
        order: 1;
    }

    .img-layout2 img {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
        object-position: 50% 32%;
    }

    /* layout3 */
    .layout-3 {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .img-layout3 {
        width: 90%;
        height: auto;
        margin: 40px 0 5px 0;
        opacity: 1;
    }

    .img-layout3 img {
        width: 100%;
        height: auto;
        opacity: 1;
    }

    .services-section {
        width: 90%;
        max-width: 1000px;
        height: auto;
        margin: 0 0 40px 0;
    }

    .services-section h2 {
        width: 100%;
        font-size: 45px;
        justify-content: center;
        align-items: center;
    }

    .services-section ul {
        padding: 30px;
    }

    .services-section li {
        margin-top: 30px;
    }

    .services-section h3 {
        font-size: 26px;
    }

    .services-section p {
        font-size: 16px;
    }

    /* testi */
    .testimonial {
        width: 100%;
        height: auto;
    }

    .testimonial-content {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 20px 0;
        justify-content: center;
        align-items: center;
    }

    .cont-text-test {
        width: 100%;
        margin: 0 0 0 0;
        align-items: center;
        text-align: center;
        order: 2;
    }

    .stars {
        font-size: 32px;
    }

    .cont-text-test h3 {
        font-size: 30px;
        line-height: 40px;
    }

    .author {
        width: 80%;
        margin: 20px auto 5px auto;
        flex-direction: row ;
    }

    .info strong {
        font-size: 24px;
    }

    .info p {
        font-size: 16px;
    }

    .testimonial-image {
        width: 90%;
        height: 550px;
        margin: 30px 0 0 20px;
    }

    .testimonial-image img {
        width: 100%;
        height: 100%;
        border-radius: 24px;
        object-position: 50% 35%;
    }

    /* pricing */
    .pricing {
        width: 100%;
        height: auto;
    }

    .pricing-text {
        width: 100%;
        margin: 40px 20px 0;
        text-align: center;
    }

    .pricing-text p.pricing-label {
        margin: 0 auto 25px auto;
    }

    .pricing-text h2 {
        font-size: 40px;
        margin: 20px;
    }

    .pricing-text p {
        font-size: 24px;
    }

    .pricing-plans {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 40px 0;
        align-items: center;
    }

    .premium, .vip {
        width: 90%;
        margin: 20px 0 40px 0;
        padding: 20px;
    }

    .premium-header h3, .vip-header h3 {
        font-size: 30px;
    }

    .price {
        font-size: 48px;
    }

    .premium-content p, .vip-content p,
    .premium-content ul li, .vip-content ul li {
        font-size: 20px;
        line-height: 22px;
    }

    .enrl-btn {
        font-size: 16px;
        padding: 8px;
    }

    /* faq */
    .faq {
        height: auto;
    }

    .faq-title {
        width: 80%;
        margin-top: 40px;
        text-align: center;
    }

    .faq-title h3 {
        font-size: 36px;
        line-height: 44px;
    }

    .faq-title p {
        font-size: 16px;
    }

    .faq-item {
        width: 95%;
        margin: 40px 10px 110px 20px;
        flex-direction: column;
        align-items: center;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        width: 95%;
    }

    .item {
        width: calc(50% - 20px); 
        height: auto;
        text-align: center;
    }

    .item h4 {
        font-size: 20px;
    }

    .item p {
        font-size: 14px;
    } 
    
    
    /* CTA */
    .cta {
        flex-direction: row; 
        align-items: center;
        height: auto;
    }

    .cta-content {
        width: 45%;
        margin: 20px 0 0 20px;
        text-align: center; 
    }

    .cta-content h2 {
        font-size: 36px;
        line-height: 44px; 
    }

    .cta-content p {
        font-size: 16px; 
        line-height: 24px; 
    }

    .cta-btn {
        margin-top: 30px; 
        display: flex; 
        justify-content: center; 
    }

    .cta-enroll {
        width: 100%; 
        max-width: 200px; 
        height: 23px; 
        margin-bottom: 10px; 
    }

    .cta-contact {
        width: 100%; 
        max-width: 200px; 
        height: 20px;
    }

    .cta-image {
        width: 90%;
        max-width: 400px;
        height: auto;
        margin: 20px 0 20px 20px;
    }

    /* Footer */
    .footer {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .footer-container {
        width: 100%;
        align-items: center;
    }

    .footer-section {
        width: 90%;
        margin: 20px 0 0 0;
    }

    .footer-logo h2 {
        font-size: 16px;
    }

    .newsletter {
        font-size: 12px;
    }

    .subscribe-form {
        flex-direction: row;
        justify-content: center;
    }

    .subscribe-form input {
        width: 100%;
        font-size: 12px;
    }

    .subscribe-form button {
        width: 40%;
        font-size: 12px;
    }

    .privacy-note {
        font-size: 10px;
    }


    .footer-column h4 {
        font-size: 14px;
    }

    .footer-column ul li a {
        font-size: 12px;
    }

    .footer-bottom {
        width: 90%;
    }

    .footer-bottom p {
        font-size: 12px;
    }

    .footer-bottom-links li a {
        font-size: 12px;
    }
}
